/**
*
* footer
*
**/
.footer {
    position: relative;
    background: linear-gradient(49.81deg, #63957C 3.48%, #0F5F80 42.01%);

    .footerBody {
        width: 100%;
        max-width: 960px;
        margin: 0 auto 0 auto;
        padding: 50px 40px 30px 40px;

        @include screen_960 {
            padding: 50px 60px 30px 60px;
        }
    }

    .footerHd {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 20px;
        font-size: 15px;
        font-weight: 500;
        color: $color_white;

        @include screen_1024 {
            gap: 50px;
        }

        @include screen_960 {
            flex-direction: column;
            gap: 20px;
        }

        a {
            margin-top: 10px;
            display: block;

            img {
                max-width: 100%;
            }
        }
    }

    .copyright {
        margin-top: 120px;
        color: #ccc;
        @include font-size(14px);
        font-weight: 500;
        text-align: center;

        @include screen_960 {
            margin-top: 60px;
            text-align: left;
        }
    }
}